{{ template "base"  . }}
{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">User Profile</h1>
            <hr>

            {{ if ne .User.ProfilePic.FileName ""}}
                <img class="img-fluid" style="max-width: 300px;" src="/static/img/{{.User.ProfilePic.FileName}}" alt="Profile Pic" />
            {{else}}
                <p>No Profile Pic Uploaded...</p>
            {{end}}

            <form action="/user/upload-profile-pic" method="post" enctype="multipart/form-data">
                <label for="formFile" class="form-label">Choose an Image</label>
                <input class="form-control" type="file" name="image" id="formFile" accept="image/gif,image/jpeg,image/png">
                <input class="btn btn-primary mt-3" type="submit" value="Upload">
            </form>
        </div>
    </div>
</div>

{{ end }}
